<tr>
    <td>
        <%= link_to gamelog.player.name, player_path(gamelog.player) %>
    </td>
    <td>
        <%= gamelog.goals %>
    </td>
    <td>
        <%= gamelog.assists %>
    </td>
    <td>
        <%= gamelog.fpoints %>
    </td>
</tr>
