<tr>
    <td>
        "Opponent"
    </td>
    <td>
        "Date"
    </td>
    <td>
        <%= gamelog.goals %>
    </td>
    <td>
        <%= gamelog.assists %>
    </td>
    <td>
        <%= gamelog.fpoints %>
    </td>
</tr>